/*Reset*/
* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    scroll-behavior: smooth;
    color: white;
}

header{
    background-size: cover;
    height: 100vh;
    position: relative;
}

body {
    background-color: white;
}



.seccion-conferencia {
    color: white;
}
img {
    width: 20%;
}
.CB{
    color: white;
    font-size: 30px ;
    
}
.size-img{
    opacity: 40%;
    width: 100%;
    height: 790px;
}



.text-green{ 
    color: green;
    
}

.texto1{
    color: white;
    right: 6%;
    position:absolute;
    top: 60%;
    width: 35%;
    align-items: end;

}


a {
    text-decoration: none;
}


.texto{
    color: white;
    right: 6%;
    position:absolute;
    top: 60%;
    width: 35%;
    align-items: end;

}


.tag{
    color: black;
    background-color: #ffd000;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-border-radius: var(--bs-border-radius);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius:5px;

}
.tag2{
    color: white;
    background-color: #00a2ff;
    --bs-btn-padding-x: 0.55rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-border-radius: var(--bs-border-radius);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);

}
.tag3{
    color: rgb(255, 255, 255);
    background-color: rgb(119, 119, 119);
    --bs-btn-padding-x: 0.55rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-border-radius: var(--bs-border-radius);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: 5px
}
.tag4{
    color: white;
    background-color: #cf0202;
    --bs-btn-padding-x: 0.55rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-border-radius: var(--bs-border-radius);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: 5px
}

.container{
    padding-left: 0%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.col-6.themed-grid-col{
    width: 72%;
}
.col-6.themed-grid-col.text{
    width: 72%;
    background-color: rgba(53, 58, 64, 255);
    color: white;
    border-left: 0.5px solid gray;
}
.bsastexto{
    padding-left: 20px;
    font-weight: 100px;
    font-size: 19.2px;
    padding-right: 20px;
}
.honolulu{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.bsasoctubre{
    margin-left: 20px;
    margin-top: 20px;
}

.controls2{
    width: 20%;
    height: 100%;
display: flex;  
}
.controls3{
    width: 20%;
    display: 10px;
  }


.footer{
    color: white;
    right: 100%;
    width: 90%;
    align-items: center;
    justify-content:center;

}
